In [1]:
print('hello') 

#Anything in quotes '' "" is called a string, which means text rather than numbers

#To execute the code hit SHIFT ENTER
#We use the # to write things in the code as comments/explanations to the reader only

hello

In [2]:
print('neew')

neew

If you change the type of the entry from 'Code' to 'Markdown' in the toolbar, here you can write notes

In [3]:
2*2 #Whole numbers are called integers

4

In [4]:
3/2 #Integers with decimals are called floats

1.5

In [5]:
7/4

1.75

In [6]:
7%4 #This means 7 mod 4, or 7/4 has a remainder of 3

3

In [7]:
50%5 #50/5 has a remainder of 0

0

In [8]:
23%2 #23/2 has a remainder of 1

1

In [9]:
20%2

0

In [10]:
2 + 10 * 10+3 #the order of math operation in Python is PEMDAS - Parentheses, Exponents, Multiplication/Division, Addition/Subtraction

105

In [11]:
(2+10)*(10+3)

156

In [12]:
mystring = "Hello World" #define terms with = sign

In [13]:
mystring[0] #recall the first element in your string with 0, the second is 1, and so on.

'H'

In [14]:
mystring[8]

'r'

In [15]:
mystring[9]

'l'

In [16]:
mystring[-2] #recall the next before last element in your string with -2. You dont need to know exactly how long your string is.

'l'

In [17]:
mystring[-3]

'r'

In [18]:
mystring = 'abcdefghijk'

In [19]:
mystring

'abcdefghijk'

In [20]:
mystring[2:] #recall the string starting with the third element [2:] all the way to the end

'cdefghijk'

In [21]:
mystring[:3] # Very important rule! The brackets are read as [start: stop not including the term]

'abc'

In [22]:
mystring[3:6]

'def'

In [23]:
mystring[1:3]

'bc'

In [24]:
mystring[1:4]

'bcd'

In [27]:
mystring[::-1]

'kjihgfedcba'

In [28]:
#[start:stop:step] the stop is not included in the the count

#Operation on string, example  string 'abcdefghijk'
#returns an index, for example a first letter, or slice of a string

#[::-1] a -1 step reverses a string e.g. 'kjihgfedcba'

In [29]:
#Immutability of strings, you cannot use indexing to change elements of a string

In [30]:
name = "Sam"

In [31]:
x = "Hello World"

In [32]:
x.upper()

'HELLO WORLD'

In [33]:
x

'Hello World'

In [34]:
x.split()

['Hello', 'World']

In [35]:
x = 'His this is a string'

In [36]:
x.split('i')

['H', 's th', 's ', 's a str', 'ng']

In [37]:
#Formatting strings

In [39]:
print('This is a string{}'.format(' INSERTED'))

This is a string INSERTED

In [44]:
print('The {2} {1} {0}'.format('fox','brown','quick' ))

The quick brown fox

In [45]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick' ))

The quick brown fox

In [46]:
#Another way is to use {value:width:precision f}

In [47]:
result = 100/777
result

0.1287001287001287

In [49]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [53]:
print("The result was {r:10.5f}".format(r=result)) #result with 10 step text length and 5 step number length

The result was    0.12870

In [ ]:
#another technique with same results as .format

In [57]:
name = 'Jose'

In [58]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [ ]:
name = Jose
age = 3

In [57]:
#LISTS

In [59]:
my_list = [1,2,3,4]
my_list = ['String', 100, 23.2] 

#if you define the same variable differently, as above with my_list, Python will only use the last definition.

In [60]:
len(my_list) #len() is to recall the length of of a list

3

In [60]:
mylist = ['one','two','three']

In [62]:
mylist

['one', 'two', 'three']

In [63]:
mylist[1:] #recall the second and all the rest of the terms

['two', 'three']

In [64]:
mylist[1:2] #recall only the second term

['two']

In [65]:
#concatenate lists

In [66]:
another_list = ['four','five']

In [67]:
new_list = mylist + another_list

In [68]:
new_list

['one', 'two', 'three', 'four', 'five']

In [69]:
#lists can mutate, unlike strings

In [70]:
new_list[0]='ONE ALL CAPS'

In [71]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [72]:
new_list.append('six') #add element

In [73]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [74]:
new_list.pop() #remove last element

'six'

In [75]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [76]:
popped_item = new_list.pop()  #reassign removed item to a new list

In [77]:
popped_item

'five'

In [62]:
new_list = ['a','e','x']

In [63]:
new_list.sort()

In [64]:
new_list

['a', 'e', 'x']

In [65]:
new_list.reverse()

In [66]:
new_list

['x', 'e', 'a']

In [83]:
#Dictionary is a key:value pairing {'key1':'value1', 'key2':'value2'}
#Unlike lists, dictionaries are not ordered and cannot be sorted , they have no index location, 
# e.g. [0] = first location, [1]= second location, and so on
#Lists are ordered sequences that can be indexed and sliced

In [85]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [86]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [87]:
my_dict['key1']

'value1'

In [94]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [95]:
prices_lookup['apple']

2.99

In [96]:
d={'k1':123, 'k2':[0,1,2,3], 'k3':{'insidekey':100}}

In [97]:
d['k2']

[0, 1, 2, 3]

In [98]:
d['k2'][2]

2

In [1]:
#Tuples are like lists, instead of [] they use (). 
#Unlike in lists, elements in tuples are immutable 
# - once elements are assigned into a tuple, they cannot be changed

In [2]:
t =(1,2,3)

In [3]:
mylist = [1,2,3]

In [4]:
type (t) #use type function to identify the what kind of variable you have

tuple

In [8]:
type(mylist)

list

In [6]:
t

(1, 2, 3)

In [9]:
len(t)

3

In [10]:
t = ('one', 2) #tuples can have strings, integers and floats

In [11]:
t

('one', 2)

In [12]:
type(t)

tuple

In [13]:
len(t)

2

In [14]:
t[0]

'one'

In [15]:
t[1]

2

In [16]:
t[-1] #last item of the tuple

2

In [17]:
t = ('a','a','b')

In [18]:
t.count('a') #how many times does 'a' appear

2

In [19]:
t.index('a') #position of first 'a' in tuple

0

In [20]:
t.index('b') #position of first 'b' in tuple

2

In [21]:
t

('a', 'a', 'b')

In [27]:
mylist

[1, 2, 3]

In [28]:
mylist[0] = 'NEW'

In [29]:
mylist

['NEW', 2, 3]

In [30]:
t[0] = 'NEW'

# What makes a tuple different from a list? 
# Tuples are used for lists that you don't want to have changed ever!
# Element reassignment is not allowed in a tuple. This Ensures Data Integrity!

TypeError: 'tuple' object does not support item assignment

In [31]:
#SETS - unordered collections of unique elements. There is only one of each object, no 'a' more than one time.

In [32]:
myset = set()

In [33]:
myset

set()

In [34]:
myset.add(1)

In [35]:
myset

{1}

In [36]:
myset.add(2)

In [37]:
myset

{1, 2}

In [38]:
myset.add(2) #cannot add 2 again

In [39]:
myset

{1, 2}

In [40]:
mylist = [1,1,1,1,1,1,2,2,2,2,2,3,3]

In [41]:
set(mylist)

{1, 2, 3}

In [42]:
set('Mississippi') #set for the string 'Mississippi'

{'M', 'i', 'p', 's'}

In [43]:
#Booleans called bool

In [44]:
True

True

In [45]:
type(True)

bool

In [46]:
1>2

False

In [47]:
1 == 1

True

In [48]:
b = None

In [49]:
b #assign b to None so you don't get error that b is not defined. Like c below.

In [50]:
c

NameError: name 'c' is not defined

In [51]:
#Files for simple input and output with basic .txt

In [53]:
%%writefile myfile.txt
Hello this is a text file
this is the second line 
this is the third line

Writing myfile.txt

In [54]:
myfile = open('myfile.txt')

In [55]:
myfile = open('woops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'woops_wrong.txt'

In [56]:
pwd #pwd is print working directory, tells you where in your computer you are saving the archive

'/Users/manueladalborgo'

In [57]:
myfile = open('myfile.txt')

In [58]:
myfile.read()

'Hello this is a text file\nthis is the second line \nthis is the third line\n'

In [59]:
myfile.read() #you cannot read the file twice in a row, you have to .seek() first to then read it again

''

In [60]:
myfile.seek(0)

0

In [61]:
myfile.read()

'Hello this is a text file\nthis is the second line \nthis is the third line\n'

In [62]:
myfile.readlines()

[]

In [63]:
myfile.seek(0)

0

In [64]:
myfile.readlines() #separates continuous text into list of elements. Useful for looping!

['Hello this is a text file\n',
 'this is the second line \n',
 'this is the third line\n']

In [11]:
pwd

'/Users/manueladalborgo/Desktop'

In [12]:
cd PYTHON #assign text to another directory with cd then the file name. cd is current directory.

/Users/manueladalborgo/Desktop/PYTHON

In [13]:
cd Python-3-Bootcamp-master

/Users/manueladalborgo/Desktop/PYTHON/Python-3-Bootcamp-master

In [14]:
cd 00-Python Object and Data Structure Basics

/Users/manueladalborgo/Desktop/PYTHON/Python-3-Bootcamp-master/00-Python Object and Data Structure Basics

In [56]:
myfile = open('test.txt')

In [37]:
myfile.read()

''

In [52]:
myfile.readlines()

[]

In [53]:
myfile.seek(0)

0

In [54]:
myfile.close() #must close file in order for Python to stop running the text, or use alternate method below that opens and closes file.

In [46]:
with open('test.txt') as my_new_file:
    contents = my_new_file.read()

In [41]:
contents

''

In [80]:
with open('test.txt',mode='r') as myfile:
    contents = myfile.read()

In [89]:
%%writefile my_new_file.txt
ONE ON FIRST 
TWO ON SECOND 
THREE ON THIRD

Overwriting my_new_file.txt

In [90]:
with open('my_new_file.txt', mode='r') as f: #only read
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [91]:
with open ('my_new_file.txt', mode='a') as f: #only add
    f.write('\nFOUR ON FOURTH')

In [92]:
with open ('my_new_file.txt', mode='r') as f: #only read
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [75]:
with open('lahgfklahfladf.txt', mode='w') as f: #only write, creates a txt file and opens and closes it
    f.write('I CREATED THIS FILE!')

In [76]:
with open('lahgfklahfladf.txt', mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

In [93]:
#SECTION 4 - Comparison Operators

In [94]:
2 == 2 # comparing only two objects

True

In [95]:
2 ==1

False

In [97]:
'hello' =='hi'

False

In [98]:
2.0 == 2 #float integer equivalence

True

In [99]:
'2' == 2 #string integer non-equivalence

False

In [100]:
2!=3 #!= not equal to

True

In [101]:
1>2

False

In [102]:
1<2

True

In [103]:
2>=2 #greater than or equal to

True

In [104]:
4<=1

False

In [105]:
#Chain comparisons together, logical operators 'and', 'or', 'not'

In [106]:
1 < 2

True

In [107]:
2<3

True

In [108]:
1<2<3

True

In [109]:
1<2>3

False

In [110]:
1<2 and 2>3 #AND both statements needs to be true

False

In [111]:
1<2 and 2<3

True

In [113]:
'h' == 'h'and 2 == 2

True

In [114]:
('h' == 'h') and (2 == 2) #just neater script

True

In [115]:
100 == 1 or 2 == 2 #OR only one statement needs to be true

True

In [116]:
1 == 1

True

In [120]:
not 1 != 1

True

In [118]:
400 > 5000

False

In [119]:
not 400 > 5000

True

In [69]:
#Control Flow - 'if', 'elif', 'else' statements. Can have as many elifs as you want
# BASIC OUTLINE BELOW:

if some_condition:
    #execute some code
elif some_other_condition: 
    #do something different
else:
    #do something else

IndentationError: expected an indented block (<ipython-input-69-908381b9d43e>, line 5)

In [123]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [124]:
if 3>2:
    print('ITS TRUE!')

ITS TRUE!

In [71]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry.")

FEED ME!

In [129]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry.")

I'm not hungry.

In [131]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
else:
    print("I do not know much.")

Money is cool!

In [132]:
loc = 'Store'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
else:
    print("I do not know much.")

I do not know much.

In [133]:
name = 'Jose'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

What is your name?

In [137]:
#For Loops - iterable objects, 
#e.g. you can ...
#iterate over every character in a string, "akfaja"
#iterate over every item in a list, [ , , ]
#iterate over every key in a dictionary, {'k1': value, ...}

#Syntax for a for loop

my_iterable = [1,2,3]

for item_name in my_iterable:
    print(item_name)

1
2
3

In [139]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [140]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [141]:
for num in mylist:
    print(num)
    
#num is the variable name you assigned for every item in the list

1
2
3
4
5
6
7
8
9
10

In [142]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [143]:
for jelly in mylist:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [144]:
for num in mylist:
    #Check for even
    if num %2 == 0: # mod 2 or (%2) where num has a remainder of 0 when divided by 2
        print(num)

2
4
6
8
10

In [146]:
for num in mylist:
    #Check for even
    if num %2 == 0:
        print(num)
    else:
        print(f'Odd Number:{num}') #print is the formula section

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [147]:
list_sum = 0 #start sum at zero

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum) # because of indentation it sums all previous sums together

55

In [148]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum) # indentation of print() tells us print() is in the for loop statement

1
3
6
10
15
21
28
36
45
55

In [149]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [150]:
#you replace the string directly into the mystring slot
#and you can use _ for the variable name for readability

for _ in 'Hello World': 
    print(_)

H
e
l
l
o

W
o
r
l
d

In [151]:
# same iteration for tuple

tup =(1,2,3)

for item in tup:
    print(item)

1
2
3

In [74]:
 mylist = [(1,2),(3,4),(5,6),(7,8)]

In [75]:
mylist

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [155]:
len(mylist) #how many items inside this tuple?

4

In [156]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [157]:
#tuple unpacking

for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [158]:
for a,b in mylist:
    print(a)

1
3
5
7

In [159]:
mylist = [(1,2,3), (4,5,6), (7,8,9)]

In [160]:
for a,b,c in mylist:
    print(b)

2
5
8

In [163]:
d = {'k1':1,'k2':2,'k3':3} #dictionary iterating through key:value pairs

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [166]:
d = {'k1':1,'k2':2,'k3':3}
for value in d.values(): #note .values is a function to call the values of a dictionary
    print(value)

1
2
3

In [167]:
#While Loops - continues to execute a block of code while some condition remains True
#e.g. while my pool is not full, keep filling with water.

In [169]:
#Syntax of while loop

while some_boolean_condition:
    #do something
else:
    #do something different

In [170]:
x = 0

while x< 5:
    print(f'The current value of x is {x}')
    
    x = x+1 #alternate notation x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [171]:
x = 0

while x< 5:
    print(f'The current value of x is {x}')
    
    x += 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [1]:
### Break, Continue, Pass ###
#
# break - break out of the current closest enclosing loop
# continue - goes to the top of the closest enclosing loop
# pass - Does nothing at all!

In [9]:
#Pass

x = [1,2,3]

for item in x:
    #comment

#Python expects something in the comment area and because there is nothing
#it returns an error. Use pass for Python to skip the statement.

SyntaxError: unexpected EOF while parsing (<ipython-input-9-c57c6b03ebc8>, line 6)

In [3]:
x = [1,2,3]

for item in x:
    #comment
    pass

#no error, Python accepts this. Pass lets you start a code
#and lets you leave it to complete later.

In [4]:
x = [1,2,3]

for item in x:
    #comment
    pass

print('end of my script')

#pass jumps the command and executes the rest of the script

end of my script

In [10]:
mystring = 'Sammy'

In [12]:
for letter in mystring:
    print(letter)

S
a
m
m
y

In [13]:
#now i dont want to print the letter 'a' in Sammy.
#the 'if' with 'continue' loops back to 'for' statement

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [14]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

# 'if' with 'break' stops when for loop gets to 'a'

S

In [15]:
x = 0

while x < 5:
    print(x)
    x += 1 #same as x = x + 1

0
1
2
3
4

In [16]:
#Break while loop
# 'if' statements (e.g. x == 2) then 'break'

x = 0

while x < 5:
    
    if x == 2:
        break
        
    print(x)
    x += 1

0
1

In [17]:
#N.B. If you start a while loop that does not stop, interrupt using Kernel in the bar and click Interrupt OR 'Control C'

In [18]:
#Useful Operators - generator functions

In [19]:
#a regular built list
mylist = [1,2,3]

In [20]:
#list generator function range(start, end, step)
for num in range(0,11,2):
    print(num)
    
    #prints start inclusive 0, end excluding 11 and in two step sizes

0
2
4
6
8
10

In [21]:
##### Useful Operators #####

In [27]:
#Enumerate function

#common indexing of strings (3 examples)
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 1 the letter is a
At index 1 the letter is b
At index 1 the letter is c
At index 1 the letter is d
At index 1 the letter is e

In [25]:
index_count = 0
word ='abcde'

for letter in word:
    
    print (word[index_count])
    index_count += 1

a
b
c
d
e

In [30]:
#enumerate function returns tuples of index and letter
index_count = 0

for item in enumerate(word):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [32]:
index_count = 0

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [33]:
#Zip function 
#almost opposite of enumerate, zips together two lists

In [37]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [38]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [39]:
#note that it ignored the extra items in mylist1

In [43]:
#recap tuple unpacking
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a)

1
2
3

In [44]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [45]:
#How to check if something is in a list

2 in [1,2,3]

True

In [46]:
'x' in ['x','y','z'] #list

True

In [48]:
'a' in 'a world' #string

True

In [49]:
'mykey' in {'mykey': 345} #dictionary with {'key':value} pairs

True

In [50]:
d = {'mykey':345}

345 in d.keys()

False

In [51]:
d = {'mykey':345}

345 in d.values()

True

In [52]:
#Math function
#minimum or maximum value in a list

mylist = [10,20,30,40,100]

In [53]:
min(mylist)

10

In [54]:
max(mylist)

100

In [55]:
#Import a library - hit tab after import to see a list of functions

#Random library and the shuffle and randint functions

from random import shuffle

In [56]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [57]:
shuffle(mylist)

In [58]:
mylist #if you call mylist again, mylist is now shuffled or scrambled

[2, 4, 1, 5, 8, 6, 3, 10, 9, 7]

In [59]:
#note that you cannot do this..
#this is becasue shuffle function is an 
#'in place function' it cannot be defined

random_list = shuffle(mylist)

In [60]:
type(random_list)

NoneType

In [63]:
#Random Integer function

from random import randint
randint(0,100)

0

In [64]:
randint(0,100)

89

In [65]:
#to save the number randomly generated

mynum = randint(0,100)

In [66]:
mynum

51

In [67]:
mynum

51

In [68]:
#How to accept a user's input.
#Input function

input('Enter a numer here:')

Enter a numer here:50

'50'

In [69]:

input('What is your name:')

What is your name:Jose

'Jose'

In [80]:
#To recall user input

result = input('How old are you?')

How old are you?:30

In [81]:
result

'30'

In [82]:
#note that ouput is always a string ''
#if you want to change it to a number redefine the result

float(result)

30.0

In [83]:
int(result)

30

In [84]:
result

'30'

In [95]:
#Create a list
#Use a for loop with .append() - for asks to iterate through some other iterable, like a string

#Alternative is to use List Comprehensions

mystring = 'hello'

mylist = []

for letter in mystring:
    mylist.append(letter)

In [90]:
mylist

['h', 'e', 'l', 'l', 'o']

In [93]:
#List comprehension is exact same thing as above

mylist = [letter for letter in mystring]

#mylist is equal to some element
#'for' some element 'in' another iterable object

In [94]:
mylist

['h', 'e', 'l', 'l', 'o']

In [96]:
mystring = 'hello'

mylist = []

for _ in mystring:
    mylist.append(_)
    
#some element is here _
#and the iterable object is mystring

In [97]:
mylist

['h', 'e', 'l', 'l', 'o']

In [98]:
mylist = [_ for _ in mystring]

In [99]:
mylist

['h', 'e', 'l', 'l', 'o']

In [100]:
mylist = [x for x in 'word']

In [101]:
mylist

['w', 'o', 'r', 'd']

In [102]:
mylist = [x for x in range(0,11)]

In [103]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [104]:
#Eases operations on the iterable elements
#example: square the values in the list

mylist = [num**2 for num in range(0,11)]

In [105]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [107]:
#same thing again with for loop and append.()

mylist = []

for num in range(0,11):
    mylist.append(num**2)

In [108]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [119]:
#add if statements
#example list of only even numbers
# x%2 means 'x/2 with remainder equal to..' 
# == 0 for even or == 1 for odd

mylist = [x for x in range(0,11) if x%2==0]

In [118]:
mylist

[0, 2, 4, 6, 8, 10]

In [127]:
#converting celsius into fahrenheit with List Comprehension

celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp +32) for temp in celcius]

In [128]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [129]:
#same thing with for loop and .append()

celcius = [0,10,20,34.5]

fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp +32)

In [131]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [137]:
#If Else statements with List Comprehension
#It is not very readable and would be best to use for loop and .append()
#BE KIND TO YOUR FUTURE SELF, you will return to this expression and be confused

results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [138]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [142]:
#Nested loop - more than one for loop

mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [143]:
#the loop above mulitplied 2 by each of the three ys then 4 by each of the three ys ..
# nine results

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [144]:
#using List Comprehension

mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [145]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [1]:
#Practice Quiz:
#Use for, .split(), and if to create a 
#Statement that will print out words that start with 's':

st = 'Print only the words that start with s in this sentence'

#Use range() to print all the even numbers from 0 to 10.


#Use List comprehension to create a list of all numbers 
#between 1 and 50 that are divisible by 3.


#Go through the string below and if the length 
#of a word is even print "even!"

st = 'Print every word in this sentence that has an even number of letters'

#VERY IMPORTANT - Question used in tech interviewes to check people can code:
#Write a program that prints the integers from 1 to 100. 
#But for multiples of three print "Fizz" instead of the number, 
#and for the multiples of five print "Buzz". 
#For numbers which are multiples of both three and five print "FizzBuzz".



#Use a List Comprehension to create 
#a list of the first letters of every word in the string below:


st = 'Create a list of the first letters of every word in this string'

In [13]:
#Practice Solutions:
#Use for, .split(), and if to create a 
#Statement that will print out words that start with 's':

st = 'Sam Print only the words that start with s in this sentence'

st.split()

#splits items according to white space

['Sam',
 'Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [20]:
for word in st.split():
    if word[0] == 's':
        print(word)

#misses the upper case S at [0]

start
s
sentence

In [14]:
for _ in st.split():
    if _[0] == 's' or _[0] == 'S':
        print(_)

Sam
start
s
sentence

In [19]:
#less code alternative - force all s to be lower case .lower()
for _ in st.split():
    if _[0].lower() == 's':
        print(_)

Sam
start
s
sentence

In [21]:
#Use range() to print all the even numbers from 0 to 10.

list(range(0,11,2))

#remeber range(Start, Stop not included, Step)

[0, 2, 4, 6, 8, 10]

In [23]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [24]:
#Use List comprehension to create a list of all numbers 
#between 1 and 50 that are divisible by 3.

[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [25]:
#Go through the string below and if the length 
#of a word is even print "even!"

st = 'Print every word in this sentence that has an even number of letters'

In [30]:
for word in st.split():
    if len(word)%2 == 0:
        print(word+ ' is even!')

word is even!
in is even!
this is even!
sentence is even!
that is even!
an is even!
even is even!
number is even!
of is even!

In [40]:
#VERY IMPORTANT - Question used in tech interviewes to check people can code:
#Write a program that prints the integers from 1 to 100. 
#But for multiples of three print "Fizz" instead of the number, 
#and for the multiples of five print "Buzz". 
#For numbers which are multiples of both three and five print "FizzBuzz".

for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print('FizzBuzz')
        
#multiples of 3 and 5 are also multiples of 3 
#which is why we check for both FIRST, then 3 then 5

    elif num%3 == 0:
        print('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [41]:
#Use a List Comprehension to create 
#a list of the first letters of every word in the 
#string below:


st = 'Create a list of the first letters of every word in this string'

In [46]:
[word for word in st.split()]
#returns all the wrods separately in the string

['Create',
 'a',
 'list',
 'of',
 'the',
 'first',
 'letters',
 'of',
 'every',
 'word',
 'in',
 'this',
 'string']

In [47]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [49]:
#Methods and Functions
#Built in objects in Python have a variety of methods you can use
#How to find methods and how to get info about them

mylist = [1,2,3]

mylist.append(4)

mylist

[1, 2, 3, 4]

In [51]:
mylist.pop()

4

In [52]:
mylist

[1, 2, 3]

In [53]:
#.pop() and .append() are methods
#to find new methods, just type in mylist. and hit TAB

mylist. #place cursor next to full stop and hit TAB

mylist.insert

#hit SHIFT TAB with the cursor after .insert to get an explanation - for Jupyter

help(mylist.insert) #an alternative to get documentation on the object - for text editor, Pycharm, ...

SyntaxError: invalid syntax (<ipython-input-53-802a59efbff6>, line 4)

In [54]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [55]:
# NOTES #
#also docs.python.org search for your type of Python documentation, e.g. for 3.6 or 3.7, etc.
#Each improved version of python has new features like the 3.6.4 'secret' random number generator, which is cryptographically secure
#Library References is the most important resource
#When you receive an error message, just paste error in google and many Stack overflow links that show up will refer back to the Library Reference page
#Lib. Ref. contains all the information about classes, objects and modules in Python

### Next Big Step in Coding ###

#Functions - Helps create clean and repeatable code. Functions 
#allow us to create blocks of code that can be easily executed
#many times, without needing to constantly rewrite the entire 
#block of code.

#YOU should practice combining what you know so far 
#(control flow, loops, etc.)
#with functions to become an effective programmer.

NOW YOU SHOULD START THINKING OF YOUR PERSONAL PROJECT

In [79]:
## def KEYWORD ##

#STEP 1 - def keyword tells Python this is a function

def name_of_function():
    
#You decide on the function name. By convention, use the "snake casing" - lower casing with underscores. e.g. abc_de_fgh
#Parnthesis at the end. Later on we can pass in arguments/parameters into the function.
#Colon indicates an upcoming indendted block. Everything indented is then "inside" the function.

def name_of_function():
    '''
    Docstring explains function
    '''

#STEP 2 - Optional: Multi-line string to describe function - it is a comment and is not executed by Python.
#Note everything is indented.
#Code then goes inside the function.

def name_of_function():
    '''
    Docstring explains function
    '''
    print("Hello")

In [82]:
# STEP 3 - Function can then be executed/called to see the result.
        
def name_of_function():
    '''
    Docstring explains function
    '''
    print("Hello")

#Execute/call function
    
name_of_function()

Hello

In [85]:
#Functions can accept argument to be passed by the user
        
def name_of_function(name):
    '''
    Docstring explains function
    '''
    print("Hello" + name)

#name should be a string and we concatenate it with "Hello"
#To execute/call
name_of_function(" Jose")

Hello Jose

In [86]:
## return KEYWORD ##

#Usually, we use the return keyword to send back the result of the function,
#instead of just printing it our.
#return allows us to assign the output of the function to a new variable.

#We will later discuss what the difference is between print versus return
#inside a function.

#Basic format

def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes.
    When you call help() on your function it will be printed out.
    '''
    # Do stuff here
    # Return desired result
    return #here insert the operation on arguments arg1 and arg2.

In [96]:
def add_function(num1,num2):
    return num1+num2

#After def and the name of your function come a pair of parentheses for the arguments. 
#These arguments are the inputs for your function. 
#The INPUT arguments/parameters are num1 and num2 
#

#NOTE in mathematical terms: f(num1,num2) = num1 + num2

add_function(1,2)

3

In [92]:
# Can save as variable due to return.
# We saved the "result" of the function by specifying 
# result = ...(1,2) .

result = add_function(1,2)

print(result)

3

In [93]:
#Most functions will use return. 
#Rarely will a function only print()

Formal definition FUNCTION:

Formally, a function is a useful device that groups together
a set of statements so they can be run more than once. 
They can also let us specify parameters that can serve as 
inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. If you remember back to the lessons on strings and lists, remember that we used a function len() to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

Functions will be one of most basic levels of reusing code in Python, and it will also allow us to start thinking of program design (we will dive much deeper into the ideas of design when we learn about Object Oriented Programming).

In [100]:
#Basic Function
#

def say_hello():
    print("hello")
    print('how')
    print('are')
    print('you')

In [101]:
say_hello()

hello
how
are
you

In [108]:
def say_hello(name):
    print(f"Hello {name}")
    
#using f string positional value

In [109]:
say_hello('Jose')

Hello Jose

In [107]:
## F-string formatting recap
## declaring variables
name = "Ada Lovelace"
type_of_person = "exceptional"

## enclose your variable within the {} to display it's value 
## in the output
print(f"{name} was an {type_of_company} person.")

Ada Lovelace was an exceptional person.

In [110]:
def say_hello(name = 'Jose'):
    print(f"Hello {name}")

say_hello()

Hello Jose

In [111]:
#difference between print versus return, return saves the result

def add_num(num1,num2):
    return num1 + num2

In [112]:
add_num(10,20)

30

In [113]:
result = add_num(10,20)

In [114]:
result

30

In [115]:
def print_result(a,b):
    print (a+b)

In [116]:
def return_result(a,b):
    return a+b

In [117]:
print_result(10,20)

30

In [118]:
result = print_result(10,20)

30

In [119]:
result #NO OUTPUT HERE! PRINT DOES NOT ALLOW YOU TO SAVE RESULTS TO A VARIABLE.

In [120]:
type(result) #nothing was saved

NoneType

In [121]:
return_result(10,20)

30

In [122]:
result = return_result(10,20)

In [123]:
result #RETURN ALLOWS YOU TO SAVE RESULTS TO A VARIABLE!!

30

In [124]:
#Print and Save to variable if you want to view results as they are coming in.
def myfunc(a,b):
    print(a+b)
    return a+b

In [128]:
result = myfunc(10,20)

30

In [129]:
#Python guesses the type of data you give it... which may create bugs

In [130]:
def sum_numbers(num1,num2):
    return num1 + num2

In [131]:
sum_numbers(10,20) #it guesses correctly that 10 and 20 are numbers

30

In [132]:
sum_numbers('10','20') #it guesses incorrectly and cocatenates the numbers

'1020'

In [133]:
#This is important for DATA
#We need to be careful how we input data

In [134]:
2%2 #mod return the remainder of division

0

In [135]:
3%2

1

In [136]:
#Check for even (i.e. equal to remainder of 0)
20%2 == 0

True

In [137]:
21%2 == 0

False

In [139]:
#Check for odd
21%2 == 1

True

In [140]:
#Lets construct this into a function, alternative way
def even_check(number):
    result = number %2 == 0
    return result

In [141]:
even_check(20)

True

In [142]:
even_check(21)

False

In [143]:
#The way you learned it
def even_check(number):
    return number %2 == 0

In [144]:
even_check(20)

True

In [157]:
#Lets check inside of a list
#CODE: RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

def check_even_list(num_list):
    
    # for loop through each number    
    for number in num_list:
        if number %2 == 0:
            return True
        else:
            pass
        
check_even_list([1,2,3])

True

In [156]:
#for loops through every number. Recap.
# Loop operation:
# check first number in the list
# IF the number in the list is even - return True
# ELSE pass the number and keep looping
# check the next number in the list
# IF...

In [158]:
# I want my code to return false if all numbers are odd

def check_even_list(num_list):
    
    # for loop through each number    
    for number in num_list:
        if number %2 == 0:
            return True
        else:
            return False #WRONG!!! List has a 2!
        
check_even_list([1,2,3])

False

In [160]:
# Common mistake:
#It returns False because 
#if the the return False is INSIDE the for loop,
#the code will only check the first item and return True or False


def check_even_list(num_list):
    
    # for loop through each number    
    for number in num_list:
        if number %2 == 0:
            return True
        else:
            pass
        
    return False 

#return has to allow the for loop to check every number, 
#before return False.
        
check_even_list([1,5,3])

False

In [166]:
# We want to return all even numbers in the list
def check_even_list(num_list):
    
    # placeholder variables
    even_numbers = []
    for number in num_list:
        if number %2 == 0:
            even_numbers.append(number)
            
        else:
            pass
        
    return even_numbers

In [167]:
check_even_list([1,3,5])

[]

In [168]:
check_even_list([1,2,3,4,5])

[2, 4]

In [169]:
# Functions and Tuple Unpacking


#Tuple variable
stock_prices = [('APPL', 200), ('GOOG',400), ('MSFT',100)]

In [170]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [172]:
for ticker,price in stock_prices:
    print(price+(0.1*price)) #ten percent increase in prices

220.0
440.0
110.0

In [173]:
for a,b in stock_prices: #remeber python understand the place holder
    print(b+(0.1*b))

220.0
440.0
110.0

In [188]:
work_hours = [('Abby', 100),('Billy',400),('Cassie',800)]

In [189]:
#What employee works the most hours currently?

def employee_check(work_hours):
    
    #placeholder values
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
        
        
    #Returns a tuple - careful with the return indentation!
    return (employee_of_month, current_max)

In [190]:
employee_check(work_hours)

('Cassie', 800)

In [193]:
result = employee_check(work_hours)

In [195]:
result

('Cassie', 800)

In [194]:
result

('Cassie', 800)

## Interactions between Functions ##
# A Python script or notebook contains several functions 
# interacting with each other.
# We will attempt to mimic a game!!!!


# Example: THREE CUP MONTE
# Rules: There are three cups with a red ball underneath one. 
# The cup holder shows one person the location of the ball, 
# then hides it, and shuffles the cups around.
# Outcome: The person has to guess where the ball is to win.

# Our Python script will mimic this as much as possible.
# Drawbacks: 
# Our game won't show the image of cups or ball, 
# instead we mimic the effect with a Python list.
# Our game won't show the shuffle to the user, 
# so the guess is completely random.

In [7]:
# How to shuffle a list at random

example = [1,2,3,4,5,6,7]

In [8]:
from random import shuffle

In [9]:
shuffle(example)

In [10]:
example

[6, 1, 2, 3, 7, 5, 4]

In [11]:
# Recap on result: 
    
result = shuffle(example)

result

#nothing is returned bc the list was shuffled inside the list 'example' and nothing was saved.

In [14]:
# FIRST: we need to create a function for saves the result of a shuffled list.

def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

result = shuffle_list(example)

result

[2, 4, 5, 6, 1, 3, 7]

In [15]:
# Note that every time you run the above code the shuffle changes

In [16]:
# SECOND: create a list with empty slots and one zero to mimic the red ball.

mylist = [' ', '0', ' ']

#use the shuffle_list function you created above

shuffle_list(mylist)

[' ', '0', ' ']

In [17]:
#THIRD: Take in a player guess! 
# Shuffle the list before user guesses location, e.g. function player_guess
#we want to display result after guess, as well.

def player_guess():
    
    # 1. placeholder for the user's guess
    guess = ''
    
    # 3. To ensure guess is correct add a while loop
    # note that guesses here are string '', because input() only returns strings
    while guess not in ['0','1','2']:
        
    # 2. input() function will ask the user for a guess
        guess = input("Pick a number: 0,1, or 2")
    
    # Here we return the answer as an integer, 
    # because we will use the integer to directly index something on this list.
    return int(guess)

In [18]:
player_guess()

Pick a number: 0,1, or 2
Pick a number: 0,1, or 21

1

In [19]:
myindex = player_guess()

Pick a number: 0,1, or 22

In [20]:
myindex

2

In [21]:
# FOURTH: check whether the guess was correct or not
# In the final function here,
# functions are going to interact with each other: 
# pass in the shuffled list (mylist) and the player's guess (guess)
# Check_guess function will call the functions in the correct order!

def check_guess(mylist,guess):
    if mylist[guess] == '0':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

In [ ]:
# FIFTH: Set up the logic for the file now. 

# INITIAL LIST
mylist = [' ','0', ' ']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list,guess)

# Definition usually go at the top of your code.

In [ ]:
#FULL CODE

# Import packages up at the top
from random import shuffle

#FOURTH PART

    # INITIAL LIST
mylist = [' ','0', ' ']

    # SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

    # USER GUESS
guess = player_guess()

    # CHECK GUESS
check_guess(mixedup_list,guess)

#FIRST PART
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

#SECOND PART
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0,1, or 2: ")
    
    return int(guess)

#THIRD PART
def check_guess(mylist,guess):
    if mylist[guess] == '0':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

# Congratulations you programmed your first game!!

#THE HAWK-DOVE GAME BELOW IS ADVANCED!
#This is looking forward. I expect you to be able to reach this level to submit your first projects in Python.

#TWO PLAYERS: RANDY AND JULIAN 

#Source: https://towardsdatascience.com/an-introduction-to-game-theory-using-python-358c63e36e02

In [ ]:
import numpy as np
import pandas as pd

# create an array with Julian's payoffs
x = np.array([[-1, -10],[0, -9]])

# re-label the rows and columns
jpm=pd.DataFrame(x, columns=['dove', 'hawk'])
jpm.index = ['dove', 'hawk']
jpm

In [ ]:
# create Randy's payoff matrix
# remember that Randy's payoff matrix is the transpose of Julian's
rpm=jpm.T
rpm

In [242]:
#ALTERNATIVE WAY with numpy and nashpy

import nashpy as nash
#if you get the below error, paste into google for help, but I already give you the solution below
#you have to !pip install nashpy

ModuleNotFoundError: No module named 'nashpy'

In [ ]:
!pip install numpy

In [244]:
!pip install nashpy

Collecting nashpy
  Downloading https://files.pythonhosted.org/packages/ad/a2/5d36744511640db1869029d2ab324b55f6eaaa2a51f75a87408a7e8000f4/nashpy-0.0.19.tar.gz
Requirement already satisfied: numpy>=1.12.1 in ./opt/anaconda3/lib/python3.7/site-packages (from nashpy) (1.17.2)
Requirement already satisfied: scipy>=0.19.0 in ./opt/anaconda3/lib/python3.7/site-packages (from nashpy) (1.3.1)
Building wheels for collected packages: nashpy
  Building wheel for nashpy (setup.py) ... done
  Created wheel for nashpy: filename=nashpy-0.0.19-cp37-none-any.whl size=10814 sha256=e8e95fb26b5094893c7f6df0e896ab07dea773b511cf2348b111ca57b213ca69
  Stored in directory: /Users/manueladalborgo/Library/Caches/pip/wheels/18/e9/56/2d04d01a6969d167f86d3afcb3d128c0b43d0d73ea471c835b
Successfully built nashpy
Installing collected packages: nashpy
Successfully installed nashpy-0.0.19

In [245]:
import numpy as np
import nashpy as nash

# Julian's payoffs (row player)
x = np.array([[-1, -10],[0, -9]]) 
# Randy's payoffs (column player)
y = x.T

prisoners_dilemma = nash.Game(x,y)
prisoners_dilemma

Bi matrix game with payoff matrices:

Row player:
[[ -1 -10]
 [  0  -9]]

Column player:
[[ -1   0]
 [-10  -9]]

In [246]:
#ALTERNATIVE WAY with quantecon

!pip install quantecon

Collecting quantecon
  Downloading https://files.pythonhosted.org/packages/5d/e3/4fd5f948de917036b5696347b28fa25da7bd7df995e4f9f42db1c3070eb8/quantecon-0.4.8-py3-none-any.whl (230kB)
     |████████████████████████████████| 235kB 3.2MB/s eta 0:00:01
Requirement already satisfied: sympy in ./opt/anaconda3/lib/python3.7/site-packages (from quantecon) (1.4)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.7/site-packages (from quantecon) (2.22.0)
Requirement already satisfied: numpy in ./opt/anaconda3/lib/python3.7/site-packages (from quantecon) (1.17.2)
Requirement already satisfied: scipy>=1.0.0 in ./opt/anaconda3/lib/python3.7/site-packages (from quantecon) (1.3.1)
Requirement already satisfied: numba>=0.38 in ./opt/anaconda3/lib/python3.7/site-packages (from quantecon) (0.45.1)
Requirement already satisfied: mpmath>=0.19 in ./opt/anaconda3/lib/python3.7/site-packages (from sympy->quantecon) (1.1.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in ./opt/anaconda3/lib/python3.7/site-packages (from requests->quantecon) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in ./opt/anaconda3/lib/python3.7/site-packages (from requests->quantecon) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in ./opt/anaconda3/lib/python3.7/site-packages (from requests->quantecon) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.7/site-packages (from requests->quantecon) (2019.9.11)
Requirement already satisfied: llvmlite>=0.29.0dev0 in ./opt/anaconda3/lib/python3.7/site-packages (from numba>=0.38->quantecon) (0.29.0)
Installing collected packages: quantecon
Successfully installed quantecon-0.4.8

In [249]:
import quantecon as qe

# create a list containing both players payoffs

pt = [[(-1,-1), (-10,0)], [(0,-10), (-9,-9)]]
g = qe.game_theory.NormalFormGame(pt)
print(g)

2-player NormalFormGame with payoff profile array:
[[[ -1,  -1],  [-10,   0]],
 [[  0, -10],  [ -9,  -9]]]

In [250]:

# write the payoff function

def payoff_function (x=str, y=str):
    if x == 'dove' and y == 'dove':
        print('Julian {}'.format(-1),':','Randy {}'.format(-1))
    elif x == 'dove' and y == 'hawk':
        print('Julian {}'.format(-10),':','Randy {}'.format(0))
    elif x == 'hawk' and y == 'hawk':
        print('Julian {}'.format(-9),':','Randy {}'.format(-9), ':', "NE")
    else:
        print('Julian {}'.format(0),':','Randy {}'.format(-10))

In [251]:
payoff_function('hawk', 'dove')

Julian 0 : Randy -10

In [252]:
payoff_function('hawk', 'hawk')

Julian -9 : Randy -9 : NE

In [255]:
# Continuing to learn Python 

# Looking at other peoples codes we encounter *args and **kwargs (arguments and key word arguments)
# We want function to accept an arbitrary number of arguments and key word arguments without having to 
# predefine a bunch of parameters in your function calls.

In [259]:
def myfunc(a,b):
    #return 5% of the sum of a and b
    return sum((a,b))*0.05

In [260]:
myfunc(40,60)

5.0

In [261]:
def myfunc(a=0,b=0,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*.05

myfunc(40,60,20)

6.0

In [1]:
#rewrite the above with *args 

def myfunc(*args):
    return sum(args)*.05

myfunc(40,60,20)

6.0

In [ ]:
CONTINUED IN MY SECOND NOTEBOOK DOCUMENT